*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  
}
main {
  flex-grow: 1;
  margin-top: 56px;
}
.logo{
  width: 8em;
}

a{
    text-decoration: none;    
}
footer a{
    color: white;
}

.nav_arrow i:hover{
  color: #d90368;    
}
.card img{
  min-height: 15vh;
  max-height: 15vh;  
  object-fit: cover;
}
table{
  table-layout: fixed;
  width: 100px;
}
td{  
  
  white-space: nowrap;
  overflow: hidden;  
  text-overflow: ellipsis;
} 
td:hover{
  overflow: visible;  
  white-space: pre-wrap;  
} 

@media screen and (max-width:767px) {

    .card img{
      min-height: 25vh;
      max-height: 25vh;  
      object-fit: cover;
    }
    aside{
      margin-bottom: 3vh;
    }

}
